/* Base Styles */

 * {
     font-family: 'Merriweather', serif;
}
hr {
    width: 90%;
    background-color: #444c57;
}
.thick {
    height: 5px;
}
.thin {
    height: 3px;
}
h1 {
    text-align: center;
    background-color: #444c57;
    color: white;
    margin: 0 auto;
    padding: 20px 0;
    font-size: 20px;
}
h2,
.begin-p {
    text-align: center;
}
h2 {
    font-size: 20px;
    color: #444c57;
    margin-top: 25px;
}
.begin-p {
    font-size: 12px;
    margin: 12px 15px 30px;
    color: lightgray;
}
legend {
    color: #444c57;
    font-weight: 700;
    font-size: 20px;
    padding-top: 15px;
    padding-right: 30%;
    padding-bottom: 15px;
}
fieldset {
    border: none;
}
label {
    color: #9fb2c5;
}
input[type="text"]:focus,
input[type="email"]:focus,
input[type="tel"]:focus,
select:focus,
#other:focus {
    outline: none;
    border: 2px solid lightskyblue;
    transition-delay: 1s;
    transition: background-color 1.5s linear;
    background-color: aliceblue;
}
::placeholder
 {
    color: lightgray;
    text-align: right;
    margin-right: 20px;
    font-size: 12px;
    font-style: italic;
}
textarea::placeholder {
    text-align: left;
}
select {
    color:lightgray;
}
option:not(:first-of-type) {
    color: black;
}
.newsletter {
    margin-bottom: 0;
    padding-right: 55%;
}
.topic-p {
    margin-top: 25px;
    margin-bottom: 0;
}
.radio {
    margin-bottom: 20px;
}
footer p {
    text-align: center;
    font-size: 14px;
    color: lightgray;
    font-style: italic;
    padding-bottom: 100px;
    padding-top: 50px;
    margin-bottom: 0;
    background-color: #444c57
}


/* Flexbox Styles*/

.flex-name {
    display: flex;
    flex-direction: column;
}
.text input,
select,
#zip
 {
    height: 45px;
    margin: 15px 0;
}
#other,
.text input,
select,
button {
    border: none;
    border-radius: 5px;
    width: 100%; 
}
#other,
.text input,
select {
    background-color: rgba(245, 245, 247);
}

#zip {
    width: 50%;
}
.container {
    display: flex;
    flex-direction: column;
    flex: 1;
}
.checkbox input,
.radio input {
    order: -1;
    margin: 20px 10px 0 auto;
    flex: 1;
}
.end-flex {
    display: flex;
    flex-direction: column;
    margin-top: 13px;
}
#other,button {
    margin-top: 15px;
    height: 100px;
}
button {
    margin: 20px auto 10px auto;
    background-color: rgb(63, 191, 191);
    color: white;
    height: 50px;
    font-weight: bold;
}



/* Media Queries */

@media screen and (min-width: 768px) {
.main-wrapper {
    margin-left: auto;
    margin-right: auto;
    max-width: 640px;
    }
h2 {
    margin-top: 50px;
    }
legend {
    padding-top: 40px;
    }
hr {
    width: 100%;
    }
fieldset {
    padding: 0;
}
.text {
    margin-top: 25px;
}
.flex-name {
    flex-direction: row;
    }
.flex-name label {
    margin-top: 30px;
    }
.text label {
    width: 25%;
    }
.flex-name input,
.flex-name select {
    width: 75%;
}
   #zip {
       width: 25%;
   }


}